<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs',{userId}) %>
    <div class="create-new-deck-form container">
      <form action="/overview/<%= userId%>/<%=deckId%>/<%= cardId%>/edit-card" method="POST" class="create-new-form-wrapper">
        <input class="input-field card-front" type="text" name="cardFront" id="cardFront" minlength="1" maxlength="20" required value="<%= cardFront %>" >
         <input class="input-field card-back" type="text" name="cardBack" id="cardBack" minlength="1" maxlength="20" required value="<%= cardBack %>">
         <!-- <p class="errmessg">something will be here soon 👀</p> -->
         <button class="btn btn-secondary add-card-btn">Edit Card 🚀</button>
      </form>
    </div>
    
  </body>
</html>